img
{
    -webkit-user-drag: none;
    max-width: 100%;
}
.slick-slider , .slick-list , .slick-track
{
    height: 100%;
    .slick-slide > div
    {
        height: 100%;
    }
}
body, html
{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    background-color: rgb(244, 244, 244);
}
button
{
    border: none;
    outline: none;
    cursor: pointer;
    letter-spacing: 0.08rem;
    background-color: transparent;
}
*
{
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
::-webkit-scrollbar
{
    width: 0.4rem;
}
::-webkit-scrollbar-thumb
{
    background-color: rgb(79, 130, 241);
    border-radius: 0.2rem;
}
ul , li
{
    margin: 0;
    padding: 0;
}
.menu_font
{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
#react-by-asukamis
{
    width: 100%;
    height: 100%;
    transition: background-image 0.25s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: overlay;
    overflow-x: hidden;
    .render-content
    {
        .header-nav , .mobile-header-nav
        {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 11;
            .left-webside-icon
            {
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
                cursor: pointer;
                color: rgb(97, 97, 97);
                border-radius: 0.3rem;
                overflow: hidden;
            }
        }
        .header-nav
        {
            
            justify-content: space-around;
            user-select: none;
            transition: background-color 0.25s linear;
            .left-webside-icon
            {
                padding: 0 0.5rem;
            }
            .left-webside-icon , .nav-menu-list , .right-some-function
            {
                height: inherit;
                display: flex;
                align-items: center;
            }
            .nav-menu-list
            {
                flex-wrap: nowrap;
                li
                {
                    min-width: 5rem;
                    height: inherit;
                    margin: 0 0.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.85rem;
                    font-weight: 400;
                    cursor: pointer;
                    letter-spacing: 0.08rem;
                    transition: color 0.25s, background-color 0.25s;
                    color: rgb(87, 87, 87);
                }
            }
            .right-some-function .logged-box
            {
                height: inherit;
                display: flex;
                align-items: center;
                > div
                {
                    margin: 0 0.5rem;
                }
            }
        }
        .header-nav-default
        {
            background-color: rgba(255, 255, 255, 0.6);
            .nav-menu-list
            {
                .active
                {
                    background-color: rgba(193, 220, 252, 0.6);
                }
                li:hover
                {
                    background-color: rgba(193, 220, 252, 0.6);
                }
            }
        }
        .header-nav-overflow
        {
            background-color: rgb(229, 242, 252);
            .nav-menu-list
            {
                .active
                {
                    background-color: rgba(193, 220, 252, 1);
                }
                li:hover
                {
                    background-color: rgba(193, 220, 252, 1);
                }
            }
        }
        .mobile-header-nav
        {
            justify-content: space-between;
            padding: 0 0.8rem;
            background-color: #fff;
            .right-mobile-bar , .left-mobile-bar
            {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
        .router-render
        {
            padding-top: 3rem;
        }
        .router-render-mobile
        {
            padding: 3rem 1rem 0 1rem;
        }
    }
}
.rotate
{
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
@media screen and (min-width: 3840px) {
    html
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 3839px) and (min-width: 2561px)
{
    html
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 2560px) and (min-width: 1921px)
{
    html
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 1920px) and (min-width: 1281px)
{
    html
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 937px)
{
    html
    {
        font-size: 16px;
    }
}
@media screen and (max-width: 936px) and (min-width: 721px)
{
    html
    {
        font-size: 16px;
    }
}
@media screen and (max-width: 720px) and (min-width: 541px)
{
    html
    {
        font-size: 16px;
    }
}
@media screen and (max-width: 540px)
{
    html
    {
        font-size: 15px;
    }
}