.article_detail
{
    max-width: 795px;
    min-height: 100vh;
    padding-top: 3rem;
    margin: 0 auto;
    .article_detail_content
    {
        background-color: #ffffff;
        border-radius: 10px;
        .article_detail_info
        {
            display: block;
            .article_detail_top
            {
                display: block;
                .article_background_image
                {
                    width: 100%;
                    max-height: 22rem;
                    border-radius: 10px 10px 0 0;
                    overflow: hidden;
                    object-fit: cover;
                }
            }
            .article_detail_title
            {
                margin: 1rem 0;
                font-size: 1rem;
                font-weight: 600;
                text-align: left;
                word-break: break-all;
                padding: 0 1rem;
            }
            .article_data
            {
                height: 4rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .data_author
                {
                    height: inherit;
                    display: flex;
                    padding-left: 1rem;
                    align-items: center;
                    .author_info
                    {
                        height: inherit;
                        margin-left: 0.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        span:first-child
                        {
                            font-size: 0.9rem;
                        }
                        span:last-child
                        {
                            font-size: 0.85rem;
                        }
                    }
                }
                .article_data_info
                {
                    height: inherit;
                    padding-right: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    div
                    {
                        padding: 0.2rem 0.3rem;
                        border-radius: 0.3rem;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        color: rgb(115, 115, 115);
                        i
                        {
                            font-size: 1rem;
                        }
                        span
                        {
                            margin-left: 0.3rem;
                            font-size: 0.8rem;
                        }
                    }
                    div:last-child
                    {
                        cursor: pointer;
                    }
                }
            }
        }
        .article_skeleton
        {
            display: block;
            .article_skeleton_top
            {
                border-radius: 10px 10px 0 0;
                overflow: hidden;
            }
            .article_skeleton_center
            {
                padding: 0 1rem;
            }
            .article_skeleton_bottom
            {
                padding: 0 1rem;
                display: flex;
                justify-content: flex-start;
                margin-bottom: 1rem;
                div
                {
                    margin-left: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        }
        .article_render_content
        {
            display: block;
            min-height: 20rem;
            overflow: hidden;
            padding: 1rem;
        }
        .article_vistor_title
        {
            display: block;
            height: 4rem;
            margin-top: 1rem;
            font-size: 1.1rem;
            padding: 0 1rem;
            text-align: left;
            line-height: 4rem;
            color: rgba(0, 0, 0, 0.87);
            border-top: solid 1px #eee;
        }
        .article_vistor_list
        {
            display: block;
            padding: 1rem;
            border-top: solid 1px #eee;
            .empty_skeleton
            {
                display: block;
                .skeleton_top
                {
                    height: 3.2rem;
                    display: flex;
                    align-items: center;
                    .skeleton_info
                    {
                        height: inherit;
                        margin-left: 0.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                    
                }
            }
            .empty_box
            {
                height: 6rem;
                font-size: 0.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}