.create_gossip_window
{
    width: 32rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem 0.8rem 1rem;
    display: flex;
    flex-direction: column;
    .window_header
    {
        width: 3rem;
        height: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 0.3rem;
        overflow: hidden;
    }
    .window_header_p
    {
        font-weight: bold;
        margin: 1rem 0;
    }
}
@media screen and (max-width:1080px)
{
    .create_gossip_window
    {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:767px) and (min-width:676px)
{
    .create_gossip_window
    {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:676px)
{
    .create_gossip_window
    {
        width: 100%;
        height: 100%;
    }
}