.gossip_page
{
    max-width: 768px;
    margin: 0 auto;
    .gossip_empty
    {
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        letter-spacing: 0.01rem;
        color: #777;
    }
}