.gossip_page
{
    max-width: 768px;
    margin: 0 auto;
    .gossip_empty
    {
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85rem;
        letter-spacing: 0.01rem;
        color: #444;
        background-color: #fff;
        border-radius: 0.3rem;
    }
}