.gossip_page
{
    max-width: 768px;
    margin: 0 auto;
    padding-top: 3rem;
    .gossip_box
    {
        background-color: #ffffff;
        border-radius: 0.3rem;
        overflow: hidden;
        .gossip_box_title
        {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}