.index_content
{
    width: 1080px;
    margin: 0 auto;
    .index_section
    {
        justify-content: space-between;
        flex-wrap: nowrap;
        .public_sub_content:nth-child(1)
        {
            flex: 1.8 0 1px;
        }
        .public_sub_content:nth-child(2)
        {
            flex: 1 0 1px;
            margin-left: 1rem;
        }
    }
}
.index_content , .index_content_mobile
{
    .index_sider
    {
        height: 100vh;
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;
        .sider_header_tips
        {
            height: 3rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .auto_play_span
            {
                color: rgba(0, 0, 0, 0.6);
                font-size: 1rem;
                letter-spacing: 0.15rem;
            }
        }
        .sider_carousel , .loading_sider
        {
            flex: 1 0 1px;
            border-radius: 1rem;
            overflow: hidden;
        }
        .sider_carousel
        {
            position: relative;
            .sider_item
            {
                height: 100%;
                position: relative;
                img
                {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.25s;
                }
                .article_info
                {
                    width: 100%;
                    height: 16rem;
                    padding: 0 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 5;
                    background: linear-gradient(180deg,rgba(49, 49, 48, 0),rgba(22, 29, 39, 0.5));
                    p
                    {
                        color: #ffffff;
                        font-size: 1.6rem;
                        font-weight: bold;
                        letter-spacing: 0.1rem;
                    }
                }
            }
            .sider_carousel_index
            {
                height: 2rem;
                padding: 0 0.5rem;
                background-color: rgba(255, 255, 255, 0.35);
                border-radius: 0.5rem;
                position: absolute;
                bottom: 1rem;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                li
                {
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;
                    i
                    {
                        color: rgba(255, 255, 255, 0.8);
                        font-size: 0.8rem;
                    }
                }
            }
        }
        .sider_carousel:hover img
        {
            transform: scale(1.05);
        }
        .loading_sider
        {
            box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            i
            {
                font-size: 1.2rem;
                color: rgb(115, 115, 115);
            }
        }
    }
    .index_section
    {
        width: 100%;
        display: flex;
        .public_sub_content
        {
            .article_skeleton
            {
                .article_skeleton_box
                {
                    padding: 0 1rem;
                    .article_skeleton_bottom
                    {
                        margin: 1rem 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .right_data
                        {
                            display: flex;
                            align-items: center;
                            div
                            {
                                display: inline;
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
            .public_sub_content_header
            {
                width: 100%;
                height: 4rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 1rem;
                letter-spacing: 0.15rem;
            }
            .article_list
            {
                width: 100%;
                li
                {
                    width: 100%;
                    border-radius: 0.5rem;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    background-color: #ffffff;
                    img
                    {
                        width: 100%;
                        height: 21rem;
                        object-fit: cover;
                        transition: transform 0.5s;
                    }
                    img:hover
                    {
                        transform: scale(1.05);
                    }
                    .article_info_item
                    {
                        display: flex;
                        flex-direction: column;
                        padding: 0 0.8rem;
                        .article_title , .article_time, .article_introduce
                        {
                            text-align: left;
                            overflow: hidden;
                        }
                        .article_title
                        {
                            font-weight: 600;
                            font-size: 1.1rem;
                        }
                        .article_time
                        {
                            color: rgba(0, 0, 0, 0.6);
                            font-size: 0.9rem;
                            letter-spacing: 0.1rem;
                        }
                        .article_introduce
                        {
                            color: rgba(0, 0, 0, 0.87);
                            margin-top: 1rem;
                            font-size: 0.85rem;
                            letter-spacing: 0.04rem;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            text-overflow: ellipsis;
                        }
                    }
                    .article_bottom_function
                    {
                        height: 3.5rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .right_article_data div , .right_article_data
                        {
                            display: flex;
                            align-items: center;
                        }
                        .right_article_data div
                        {
                            margin: 0 0.2rem;
                            padding: 0.2rem 0.5rem;
                            border-radius: 0.3rem;
                            overflow: hidden;
                            cursor: pointer;
                            .article_is_liked
                            {
                                color: red !important;
                            }
                            i
                            {
                                color: rgb(115, 115, 115);
                                transition: transform 0.25s;
                                font-size: 1rem;
                            }
                            i:hover
                            {
                                transform: scale(1.1);
                            }
                            span
                            {
                                color: rgb(115, 115, 115);
                                font-size: 0.8rem;
                                margin-left: 0.4rem;
                            }
                        }
                    }
                }
                li:last-child
                {
                    margin-bottom: 0;
                }
            }
            .gossip_list
            {
                display: block;
            }
        }
    }
}
.index_content_mobile
{
    width: 100%;
    .index_sider
    {
        .sider_header_tips
        {
            padding: 0 2rem;
        }
    }
    .index_section
    {
        flex-wrap: wrap;
        .public_sub_content
        {
            width: 100%;
        }
    }
}