.gossip_box
{
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    .gossip_box_title
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left_info
        {
            height: 3.5rem;
            display: flex;
            align-items: center;
            .info_content
            {
                margin-left: 0.6rem;
                max-width: 10rem;
                padding: 0.2rem 0;
                height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .info_about_user
                {
                    white-space: nowrap;
                    span:nth-child(1)
                    {
                        font-weight: bold;
                        font-size: 0.85rem;
                    }
                    span:nth-child(2)
                    {
                        font-size: 0.7rem;
                        margin-left: 0.5rem;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
                .info_autograph
                {
                    font-size: 0.7rem;
                    letter-spacing: 0.05rem;
                    color: #777777;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        .right_function
        {
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            i
            {
                color: rgba(0, 0, 0, 0.5);
                font-size: 0.8rem;
                margin: 0;
            }
        }
    }
    .gossip_render_content
    {
        min-height: 3rem;
        padding: 0 0.5rem;
        border-radius: 0.3rem;
        background-color: #fcfcfc;
        overflow: hidden;
    }
    .gossip_state
    {
        margin: 0.5rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span
        {
            color: #777777;
            font-size: 0.72rem;
        }
        span:nth-child(2)
        {
            margin: 0 0.5rem;
        }
    }
    .gossip_button
    {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button
        {
            flex: 1;
            height: 2rem;
            border-radius: 0.25rem;
            cursor: pointer;
            font-size: 0.8rem;
            background-color: rgb(245, 245, 245);
            color: #777777;
            overflow: hidden;
            transform: rotate(0);
            i
            {
                font-size: 1rem;
                margin-right: 0.4rem;
            }
        }
        button:nth-child(2)
        {
            margin: 0 0.4rem;
        }
        .gossip_liked i
        {
            color: red !important;
        }
    }
    .gossip_comment_list
    {
        margin-top: 1rem;
    }
    .empty_box
    {
        height: 6.2rem;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}