.popper_box
{
    padding: 0.6rem;
    border-radius: 0.2rem;
    background-color: #ffffff;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
    p
    {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
    div button
    {
        margin-right: 0.5rem;
        font-size: 0.6rem;
    }
}