.find_password_page
{
    max-width: 768px;
    margin: 0 auto;
    min-height: 82vh;
    .loading_content , .input_content
    {
        background-color: #fff;
        border-radius: 0.3rem;
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input_content
    {
        .input_tips
        {
            height: 2rem;
            text-align: left;
            line-height: 2rem;
            font-size: 0.85rem;
        }
        label
        {
            font-size: 0.85rem;
        }
        button
        {
            margin-top: 1rem;
        }
    }
    .loading_content
    {
        height: 12rem;
    }
}