.light_friends_box, .friends_box {
    .friends_list {
        background-color: rgb(255, 255, 255);
        .friends_list_item {
            .friend_name {
                color: #000;
            }
        }
    }
}
.dark_friends_box, .friends_box {
    .friends_list {
        background-color: rgb(47, 49, 51);
        .friends_list_item {
            .friend_name {
                color: #fff;
            }
        }
    }
}