.guestbook
{
    padding-top: 1rem;
    margin: 0 auto;
    .guestbook_editor_content {
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 0.3rem;
    }
    .guestbook_comment_list {
        margin-top: 1rem;
        transition: background-color 0.25s;
        border-radius: 0.3rem;
        overflow: hidden;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
        .guestbook_comment_item {
            padding: 0.5rem;
            .comment_item_top {
                height: 3.2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .user_info {
                    display: flex;
                    justify-content: flex-start;
                    div {
                        margin-left: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        span {
                            transition: color 0.25s;
                        }
                        span:nth-child(1) {
                            font-size: 0.7rem;                            
                        }
                        span:nth-child(2) {
                            font-size: 0.6rem;
                            font-weight: 400;
                            letter-spacing: 0.05rem;
                        }
                    }
                }
                .delete_icon {
                    width: 2rem;
                    height: 2rem;
                    transition: color 0.25s;
                    font-size: 0.8rem;
                    overflow: hidden;
                    cursor: pointer;
                    border-radius: 50%;
                    color: #666;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                i:hover, i:active {
                    color: red;
                }
            }
            .comment_html {
                padding: 0.5rem 1rem;
                min-height: 3rem;
                border-radius: 0.2rem;
                transition: background-color 0.25s;
                * {
                    transition: background-color 0.25s, color 0.25s;
                }
            }
        }
        .empty_box {
            transition: background-color 0.25s;
            height: 7.85rem;
            font-size: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .guestbook_skeleton {
        padding: 0.5rem;
        transition: background-color 0.25s;
        .guestbook_skeleton_top
        {
            height: 3.2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            div
            {
                margin-left: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
@media screen and (min-width: 3840px) {
    .guestbook
    {
        max-width: 1152px;
    }
}
@media screen and (max-width: 3839px) and (min-width: 2561px)
{
    .guestbook
    {
        max-width: 969px;
    }
}
@media screen and (max-width: 2560px) and (min-width: 1921px)
{
    .guestbook
    {
        max-width: 842px;
    }
}
@media screen and (max-width: 1920px)
{
    .guestbook
    {
        max-width: 768px;
    }
}