.verify_page
{
    max-width: 768px;
    min-height: 82vh;
    margin: 0 auto;
    .verify_content
    {
        margin-top: 1rem;
        height: 10rem;
        background-color: #fff;
        border-radius: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .verifying , .verify_success , .verify_error
        {
            display: flex;
        }
        .verifying
        {
            flex-direction: column;
            align-items: center;
            font-size: 0.9rem;
        }
        p
        {
            margin: 0.5rem 0;
        }
        .verify_success , .verify_error
        {
            justify-content: center;
            align-items: center;
            p
            {
                margin-left: 0.5rem;
                font-size: 0.85rem;
            }
        }
        .verify_success p
        {
            color: rgb(29, 63, 177);
        }
        .verify_error p
        {
            color: darkred;
        }
    }
}