.asuka_button
{
    overflow: hidden;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    border-radius: 0.3rem;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: color 0.25s, background-color 0.25s;
    white-space: nowrap;
    input 
    {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        top: 0;
        cursor: pointer;
        font-size: 0;
    }
}
.asuka_button_normal
{
    background-color: rgb(25, 118, 210);
    color: #ffffff;
}
.asuka_button_file
{
    background-color: #f38992;
    color: #ffffff;
}
.asuka_button_read
{
    color: #ec558c;
    background-color: #ffffff;
}
.asuka_button_danger
{
    color: #ffffff;
    background-color: rgb(241, 86, 86);
}
.button_size_big
{
    width: 100%;
    padding: 0.8rem 0;
}
.button_size_normal
{
    min-width: 3.5rem;
    min-height: 1.8rem;
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
}
.button_size_small
{
    font-size: 0.7rem;
    padding: 0.35rem 0.7rem;
}
.rotate
{
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}