.comment_box
{
    padding-top: 0.5rem;
    position: relative;
    z-index: 10;
    .comment_top
    {
        width: 100%;
        height: 3.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .comment_top_left
        {
            height: inherit;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .vistor_info
            {
                height: inherit;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 0.5rem;
                div
                {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    span
                    {
                        font-size: 0.85rem;
                        color: #4c4e4d;
                        transition: color 0.3s;
                    }
                    .change_color_style
                    {
                        animation: change_color 1s linear;
                    }
                    button
                    {
                        color: #ffffff;
                        font-size: 0.65rem;
                        padding: 0.1rem 0.3rem;
                        cursor: pointer;
                        border-radius: 0.25rem;
                        margin-left: 0.5rem;
                    }
                    .relply_button
                    {
                        background-color: #0478be;
                    }
                    .delete_button
                    {
                        background-color: rgb(255, 85, 85);
                    }
                }
                .vistor_info_time
                {
                    font-size: 0.66rem;
                    transition: color 0.3s;
                    color: #4c4e4d;
                    font-weight: 400;
                    letter-spacing: 0.05rem;
                }
            }
        }
        .comment_top_right
        {
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg
            {
                color: darkgray;
                cursor: pointer;
                transition: transform 0.3s, color 0.3s;
            }
            svg:hover
            {
                
                transform: scale(1.2);
            }
            .had_liked
            {
                color: red;
            }
            span
            {
                font-size: 0.6rem;
                color: rgb(204, 204, 204);
                margin-top: 0.25rem;
                transition: color 0.3s;
            }
        }
    }
    .comment_conten_render
    {
        padding: 0.5rem 1rem;
        min-height: 3rem;
        border-radius: 0.2rem;
        background-color: #fcfcfc;
    }
    .comment_editor
    {
        width: 100%;
    }
}
@keyframes change_color {
    0%
    {
        color: #4c4e4d;
        transform: scale(1);
    }
    50%
    {
        color: #cf4b3a;
        transform: scale(1.08);
    }
    100%
    {
        color: #4c4e4d;
        transform: scale(1);
    }
}