.light_editor_tinymce, .editor_tinymce {
    background-color: rgba(255, 255, 255, 1);
}
.dark_editor_tinymce, .editor_tinymce {
    background-color: rgb(47, 49, 51);
}
.light_editor_tinymce, .editor_skeleton {
    background-color: rgba(255, 255, 255, 1);
}
.dark_editor_tinymce, .editor_skeleton {
    background-color: rgb(47, 49, 51);
}