.gossip_skeleton_list
{
    .gossip_skeleton
    {
        background-color: #ffffff;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
        .gossip_skeleton_top
        {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .gossip_skeleton_info
            {
                margin-left: 0.6rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .gossip_skeleton_bottom
        {
            display: flex;
            justify-content: space-between;
            div
            {
                flex: 1 0 1px;
            }
            div:nth-child(2)
            {
                margin: 0 0.4rem;
            }
        }
    }
}
